/* Base styles */
* { 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    margin: 100px 20%;
    background-color: #afd9e0;
    /* #008CBA */
}

.main {
    width:100%;
    color:white;
    padding: 50px;
}

h2 {
    color:white;
}


/* Styling of the banner image and background image of the website */

.background {
    background-image: url(../img/cast.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    height: 100vh;

}
.cover {
    background-image: url(../img/cover.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/* Styling of the text in the banner */
.banner p {
    z-index: 1;
    margin: 0;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* styling of the bouncy arrow image */
.arrow {
    width: 100px;
    transform: translateY(80px);
    animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(-4px)
    }
    50% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-3px)
    }
}

/* Button style */

.button {
    background-color: white;
    border: none;
    color: #afd9e0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    width: 50%;
}

/* styling for the results page */
.results {
    color:white;
    font-size: 3em;
    padding: 50px;
    text-align: center;
    
}

img {
    width:100%;
}
/* Responsive Design */

@media (max-width:600px) {

    h2 {
        font-size: 20px;
    }

    .main {
        font-size:12px;
    }

    .banner p {
        color: black;
    }

    .container {
        margin: 100px 5%;
    }

}

@media (max-width:400px) {
    h2 {
        font-size: 15px;
    }

    .background {
        background-image: none;
    }

    .button {
        padding: 15px 10px;
        
    }
}