* { 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #B3C5D7;
    font-family: 'Rubik', sans-serif;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width:100%;
    height: 100vh;

}
.poes {
    background-image: url(../img/cover.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.banner p {
    z-index: 1;
    margin: 0;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: white;
}


.arrow {
    width: 10%;
    transform: translateY(80px);
    animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(-4px)
    }
    50% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-3px)
    }
}